.Stat-bar {
  position: fixed;
  align-items: center;
  top: 0%;  // Adjust this value if you want a fixed distance from the top
  left: 100px;
  right: 0px; // Adjust this value if you want a fixed distance from the right
  bottom: 0; // Adjust this value if you want a fixed distance from the bottom
  margin-top: 0px; // This centers the Logo both horizontally and vertically
  z-index: 0; // Set a z-index value if needed to control stacking order   width: 175px;
  height: 15%;
  background-color: white;
  transition: left 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;

    .auth-btn {
      margin-right: 350px;
      background-color: rgb(147, 40, 40);
    }
    .notification-panel {
      
    }
  }
